*{
  margin:0;
  padding:0;
    box-sizing: border-box;
}
.App {
 font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #ff9f1a;
  width:400px;
  height:400px;
  margin:40px;
 background-position: center;
 display:flex;
 flex-direction:column;
 

}
.start-button{
  margin-top:300px;
   margin-bottom:150px;
  font-size: 24px;
}