*{
  margin:0;
  padding:0;
    box-sizing: border-box;
}
.App {
 font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #ffa5;
  width:400px;
  height:600px;
  margin:40px;
 background-position: center;
 display:flex;
 flex-direction:column;
 

}
.start-button{
    position: relative;
      margin-top:350px;
    margin-bottom:50px;
     font-size: 24px;
}
.main-button{

      margin-top:100px;
        font-size: 24px;
        align:center;
      
}

.home-button{
     margin-top:90%;
        font-size: 24px;
          cursor: pointer;
          align:center;
             right:50%;
             display:block; position: center; margin:auto
}

#Options {
 
align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
margin:20px;
padding:20px; 
}

#Options button{
  margin:10px;
padding:10px; 
font-weight: bold;
  cursor: pointer;
}

.flag{
  height: 60%;
  width: 70%;
}

.World-Map{
display:block; 
position: center; 
margin:auto
   height: 60%;
  width: 60%;
  margin:40px;

}