*{
  margin:0;
  padding:0;
    box-sizing: border-box;
}
.App {
 font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #ffa5;
  width:500px;
  height:500px;
  margin:40px;
 background-position: center;
 display:flex;
 flex-direction:column;
 

}
.start-button{
    position: relative;
      margin-top:350px;
    margin-bottom:50px;
     font-size: 24px;
}
.main-button{
    position: relative;
      margin-top:100px;
        font-size: 24px;
}

#Options {
 
align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
margin:20px;
padding:20px; 
}

#Options button{
  margin:10px;
padding:10px; 
font-weight: bold;
}